name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: [self-hosted, linux, x64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Create .env file from secret
        run: |
          echo "${{ secrets.PROD_ENV_FILE }}" > .env

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build --if-present

